<!--<p>
  <b>User:</b>
  <%=h @flight_select.user_id %>
</p>
-->
<h3>Your Fare is now Safe!</h3>
<div>We will email you notifications on fare changes, so you can see just how much you save with FreezeFare.</div>
<p>
  <b>Kayak flight:</b>
  <%=h @flight_select.kayak_flight_id %>
</p>

<p>
  <b>Search:</b>
  <%=h @flight_select.flight_id %>
</p>


<%= link_to 'Freeze Another Flight', :controller => "flights", :action=>"kayak_search", :id=> @flight_select.flight_id %>
