<div id="logo"><img src="/images/freezefare-logo.png" /></div>

<div class="main">  
	   <div class="title">
			<p>Today's Best Price: <span id="ticket">$<%= @low_fare %></span></p>
	   </div>
	   
       <div class="content">
         Freeze this fare for: 
         <div class="buy_buttons"><%= image_submit_tag '/images/freezefare-5bucks-btn.gif'%>  <%= image_submit_tag 'freezefare-10percent-btn.gif' %></div>
        </div>
<div style="text-align:left; font-size:12pt;">
</div>
</div>