<div id="logo"><img src="/images/freezefare-logo.png" /></div>
<div class="main">  
	   <div class="title">
			<p>Today's Best Price: <span id="ticket">$<%= @low_fare %></span></p>
	   </div>
	   
<% 
@flight_select = FlightSelect.new

form_for(@flight_select) do |f| %>
       <div class="content">
         <div class="title">How long would you like to freeze this fare?</div><br />
         <div><%= f.text_field :freeze_time, :size=>10 %></div>
         <div class="buy_buttons"><%= image_submit_tag '/images/freezefare-freeze-btn.gif' %>
         </div></div>
        </div>
<% end %>
</div>