@charset "UTF-8";
/* CSS Document */


body {
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: #6A6D71;
	background: #81A3D7 100%; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#81A3D7'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#81A3D7)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFF,  #81A3D7); /* for firefox 3.6+ */
}

body.splash {
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 35px;
	color: #6A6D71;
	overflow: hidden;
	background: #81A3D7 100%; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#81A3D7'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#81A3D7)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFF,  #81A3D7); /* for firefox 3.6+ */
}

#logo {
	width: 600px;
	margin: 100px auto 0px auto;
}

.splash .main {
	width: 550px;
	text-align: center;
	background-color: #FFF;
	margin: 0 auto 300px auto;
	padding: 20px;
	height: auto;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/stylesheets/pie.htc);
}

.splash .title {
	font-weight: 800;
	letter-spacing: 0px;
}

.splash .content {
	margin-top: 15px;
}

.splash .highlight {
	font-weight: 300;
	color: #81A3D7;
	margin-top:30px;
	margin-bottom:22px;
}

.splash .button {
	vertical-align: middle;
}

#mainblurb{
	width: 550px;
	text-align: center;
	background-color: #FFF;
	margin: 0 auto 300px auto;
	padding: 20px;
	height: auto;	
	font-weight: normal;
}
#mainblurb h2{
	font-weight: normal;
}
#mainblurb h3{
	margin-left:5px;
}
#form_body{
	text-align:left;
}

#mainblurb textarea{
	width:530px;
}
#mainblurb .button{
	text-align:center;
}

#dumpTable {
  color:#000;
  font-family:arial;
}

#formwrapper {
   width:500;
}

#ticket{
	background: #b3c7e7 url(/images/ticket.png) no-repeat top left;
	display:inline-block;
	height: 85px;
	line-height:85px;
	padding: 0 1em 0 2em;
}

.new_flight_select {
	font-size:10pt;
	color:#000;
	line-height:1em;
	padding:2px;
	font-weight:bold;
}

#leg_table {
  border-bottom:1px solid gray;
}

img {
  border:0;
}

.buy_buttons{
	margin: 13px 0 17px;
}
#new_flight_select h3{
	color: #6A6D71;
	font-size: 21px;
}
#source_callout {
	color:#ff8c00;
	background-color:#FF6;
	magin: auto;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

#fare_warning {
	color:#ff8c00;
	background-color:#FF6;
	magin: auto;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
