<div id="wrapper">
<div id="mainhead">
<h2>FlyTee</h2>
</div>
<div id="mainblurb">
<br />
Wanna Fly but not ready to Buy?
<br />
Wanna Hold an airline at today's price & decide later?
<br />
You're in luck because that's exactly what NAME does for you!
<br />
<%= link_to "Get Started", :controller=>"users", :action=>"new" %>
</div>
</div>
