<body class="splash">
<div id="wrapper">
<div id="logo"><img src="/images/freezefare-logo.png" /></div>

<div class="main">  
        <div class="title">Thanks for your feedback!</div>
        <div class="content">We really appreciate it.</div>
</div> <!-- end main -->
</div>
</body>